<style>
#scroll-to-top, #search-button {
    display: none; /* 默认隐藏 */
    position: fixed;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
}
#scroll-to-top:hover, #search-button:hover {
    color: #333;
}
#scroll-to-top {
    bottom: 20px;
}
#search-button {
    bottom: 80px;
}
.cat-icon {
    width: 40px;
    height: 40px;
}
</style>
<button onclick="topFunction()" id="scroll-to-top" title="回到顶部">
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
  <path d="M12 8l-4 4" />
  <path d="M12 8v8" />
  <path d="M16 12l-4 -4" />
</svg>
</button>
<button onclick="openSearch()" id="search-button" title="搜索">
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-search" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M21 12a9 9 0 1 0 -9 9" />
  <path d="M9 10h.01" />
  <path d="M15 10h.01" />
  <path d="M9.5 15c.658 .672 1.56 1 2.5 1" />
  <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
  <path d="M20.2 20.2l1.8 1.8" />
</svg>
</button>
<script>
// 当用户滚动到一定距离时，显示按钮
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("scroll-to-top").style.display = "block";
        document.getElementById("search-button").style.display = "block";
    } else {
        document.getElementById("scroll-to-top").style.display = "none";
        document.getElementById("search-button").style.display = "none";
    }
}
// 点击按钮，返回顶部
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
// 打开搜索
function openSearch() {
    window.location.href = "/search/";
}
</script>